<style type="text/css">
  .custom-select-box {
    border-radius: 5px;
    height: 20%;
    width: 12%;
    border-color: black;
    /* Rounded corners */
  }

  .prakhar {
    background-image: linear-gradient(220deg, #93868a 0%, #009fc2 120%);
  }

  .c1 {
    color: rgb(235, 6, 6);
  }
</style>

<div class="header">
  <nav *ngIf="!isLogin()" class="navbar navbar-expand-lg fixed-top prakhar">
    <div class="logo">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <!-- <strong class="text-white">Rays</strong> -->
        <img src="assets\files\custom.png" height="40px" width="120px" />
      </a>
    </div>
    <select #locale (change)="changeLocale(locale.value)" class="form-select custom-select-box">
      <option value="en">
        {{ "&nbsp;&nbsp;Select Language" | translate }}
      </option>
      <option value="en" style="color: red">English</option>
      <option value="hi" style="color: red">{{ "Hindi" | translate }}</option>
    </select>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 15px">
      <ul class="navbar-nav ml-auto" style="padding-right: 7.5%">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="['myNav']" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <font style="color: white">{{ "Hi,Guest" | translate }} </font>
          </a>

          <div class="dropdown-menu dropdown-ment-left" id="myNav" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-user"></i> &nbsp;{{ " Log In" | translate
              }}</a>
            <a class="dropdown-item" [routerLink]="['/signup']"><i class="fa fa-users"></i> &nbsp;{{
              "User Registration" | translate
              }}</a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
  </nav>
</div>

<nav *ngIf="isLogin()" class="navbar navbar-expand-lg fixed-top prakhar">
  <div class="logo">
    <a class="nav-link" [routerLink]="['/dashboard']">
      <!-- <strong class="text-white">Rays</strong> -->
      <img src="assets\files\custom.png" height="40px" width="120px" />
    </a>
  </div>
  <!-- <strong class="text-white">NCS Pvt Ltd</strong> -->

  <select #locale (change)="changeLocale(locale.value)" class="form-select custom-select-box">
    <option value="en">{{ "&nbsp;&nbsp;Select Language" | translate }}</option>
    <option value="en" style="color: red">English</option>
    <option value="hi" style="color: red">{{ "Hindi" | translate }}</option>
  </select>

  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav pl-2">

      <!-- =================================== CUSTOMER =========================================== -->

      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Customer" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/customer']"><i class="fa fa-university"></i> &nbsp;
            {{ "Add Customer" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/customerlist']"><i class="fa fa-building"></i> &nbsp;
            {{ "Customer List" | translate }}
          </a>
        </div>

        <!-- =================================== CART ===========================================

      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Cart Overview" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/cart']"><i class="fa fa-university"></i> &nbsp;
            {{ "Add Cart" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/cartlist']"><i class="fa fa-building"></i> &nbsp;
            {{ "Cart List" | translate }}
          </a>
        </div>
      </li> 


       =================================== PRODUCT ===========================================
      
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Product" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/product']"><i class="fa fa-university"></i> &nbsp;
            {{ "Add Product" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/productlist']"><i class="fa fa-building"></i> &nbsp;
            {{ "Product List" | translate }}
          </a>
        </div>
      </li> -->

        <!-- =================================== USER =========================================== -->

      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "User" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/user']"><i class="fa fa-user"></i>&nbsp;&nbsp;{{
            "Add User" | translate
            }}</a>
          <a class="dropdown-item" [routerLink]="['/userlist']"><i class="fa fa-list"></i>&nbsp;{{ " User List" |
            translate }}</a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Marksheet" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/marksheet']"><i class="fa fa-file"></i> &nbsp;
            {{ "Add Marksheet" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/marksheetlist']"><i class="fa fa-paste"></i> &nbsp;
            {{ "Marksheet List" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/marksheetmeritlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Marksheet Merit List" | translate }}
          </a>
          <a class="dropdown-item" [routerLink]="['/getmarksheet']"><i class="fa fa-copy"></i> &nbsp;
            {{ "Get Marksheet" | translate }}</a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Role" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/role']"><i class="fa fa-user"></i> &nbsp; &nbsp;
            {{ "Add Role" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/rolelist']"><i class="fa fa-users"></i> &nbsp; {{ "Role List" |
            translate }}</a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "College" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/college']"><i class="fa fa-university"></i> &nbsp;
            {{ "Add College" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/collegelist']"><i class="fa fa-building"></i> &nbsp;
            {{ "College List" | translate }}
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Course" | translate }} </font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/course']"><i class="fa fa-book"></i> &nbsp; {{ "Add Course" |
            translate }}</a>
          <a class="dropdown-item" [routerLink]="['/courselist']"><i class="fa fa-list"></i> &nbsp; {{ "Course List" |
            translate }}
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Student" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/student']"><i class="fa fa-user"></i> &nbsp;
            {{ "Add Student" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/studentlist']"><i class="fa fa-users"></i> &nbsp;
            {{
            "Student
            List" | translate
            }}</a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Faculty" | translate }} </font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/faculty']"><i class="fa fa-users"></i> &nbsp;
            {{ "Add Faculty" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/facultylist']"><i class="fa fa-list"></i> &nbsp;
            {{
            "Faculty
            List" | translate
            }}</a>
        </div>
      </li>

      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "TimeTable" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/timetable']"><i class="fa fa-clock-o"></i> &nbsp;
            {{ "Add TimeTable" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/timetablelist']"><i class="fa fa-list"></i> &nbsp;
            {{ "TimeTable List" | translate }}</a>
        </div>
      </li>
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ "Subject" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/subject']"><i class="fa fa-calculator"></i> &nbsp;
            {{ "Add Subject" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/subjectlist']">
            <i class="fa fa-list"></i> &nbsp;
            {{
            "Subject
            List" | translate
            }}
          </a>
        </div>
      </li>







      <!-- =================================== alert ===========================================
<li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Alert" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/alert']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Alert" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/alertlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "alert list" | translate }}
          </a>
        </div>
        </li>  -->






       <!-- =================================== order =========================================== -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Order" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/order']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add order" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/orderlist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "order list" | translate }}
          </a>
        </div>
        </li> -->
 




       <!-- =================================== policy =========================================== -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Policy" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/policy']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add policy" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/policylist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "policy list" | translate }}
          </a>
        </div>
        </li>  -->



       <!-- =================================== sponsor =========================================== -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Sponsor" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/sponsor']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add Sponsor" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/sponsorlist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "Sponsor list" | translate }}
          </a>
        </div>
        </li> 


 -->






      <!-- =================================== parking =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Parking" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/parking']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add Parking" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/parkinglist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "Parking list" | translate }}
          </a>
        </div>
        </li>  -->





      <!-- =================================== plan =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Plan" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/plan']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add Plan" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/planlist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "plan list" | translate }}
          </a>
        </div>
        </li> -->

 




      <!-- =================================== state =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"State" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/state']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add state" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/statelist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "state list" | translate }}
          </a>
        </div>
        </li>  -->




      <!-- =================================== health =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Health" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/health']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add health" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/healthlist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "health list" | translate }}
          </a>
        </div>
        </li>  -->


      <!-- =================================== location =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Location" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/location']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add location" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/locationlist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "location list" | translate }}
          </a>
        </div>
        </li>  -->



      <!-- =================================== payment =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Payment" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/payment']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add payment" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/paymentlist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "payment list" | translate }}
          </a>
        </div>
        </li>  -->



       <!-- =================================== credential =========================================== -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Credential" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/credential']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add credential" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/credentiallist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "credential list" | translate }}
          </a>
        </div>
        </li>  -->



      <!-- =================================== masking =========================================== -->
       <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Masking" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/masking']"><i class="fa fa-cart"></i> &nbsp;
            {{ "add masking" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/maskinglist']"><i class="fa fa-cartlist"></i> &nbsp;
            {{ "masking list" | translate }}
          </a>
        </div>
        </li> -->
 

       <!-- =================================== Access ===========================================   -->
 <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Access" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/access']"><i class="fa fa-user"></i> &nbsp;
            {{ "ADD ACCESS" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/accesslist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Access list" | translate }}
          </a>
        </div>
        </li>  -->






       <!-- =================================== DATA ===========================================  -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Data" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/data']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Data" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/datalist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Data list" | translate }}
          </a>
        </div>
        </li>
  -->



      
          <!-- =================================== feature ===========================================  -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Feature" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/feature']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Feature" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/featurelist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Feature list" | translate }}
          </a>
        </div>
        </li> -->

 






       <!-- =================================== password ===========================================  -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Password" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/password']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Password" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/passwordlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Password list" | translate }}
          </a>
        </div>
        </li> 




 -->

      <!-- =================================== Complaint =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Complaint" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/complaint']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Complaint" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/complaintlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Complaint list" | translate }}
          </a>
        </div>
      </li> -->




      <!-- 
            =================================== device =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Device" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/device']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Device" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/devicelist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Device list" | translate }}
          </a>
        </div>
      </li> -->






      <!-- 
            =================================== Batch =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Batch" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/batch']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Batch" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/batchlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Batch list" | translate }}
          </a>
        </div>
      </li> -->







      <!-- 
            =================================== Scheduler =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Scheduler" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/scheduler']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Scheduler" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/schedulerlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Scheduler list" | translate }}
          </a>
        </div>
      </li> -->




      <!-- 
            =================================== loginhistroy =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"LoginHistroy" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/loginhistory']"><i class="fa fa-user"></i> &nbsp;
            {{ "add loginhistory" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/loginhistorylist']"><i class="fa fa-list"></i> &nbsp;
            {{ "loginhistory list" | translate }}
          </a>
        </div>
      </li> -->





      <!-- 
            =================================== transport =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Transport" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/transport']"><i class="fa fa-user"></i> &nbsp;
            {{ "add transport" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/transportlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "transport list" | translate }}
          </a>
        </div>
      </li>

 -->





      
            
            <!-- =================================== verification ===========================================  -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Verification" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/verification']"><i class="fa fa-user"></i> &nbsp;
            {{ "add verification" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/verificationlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "verification list" | translate }}
          </a>
        </div>
        </li>    -->





      <!-- 
            ===================================  mobile verification =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"mobile verification" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/mobileverification']"><i class="fa fa-user"></i> &nbsp;
            {{ "add mobileverification" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/mobileverificationlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "mobileverification list" | translate }}
          </a>
        </div>
      </li>

 -->



                
            <!-- ===================================  account ===========================================  -->
<!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Account" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/account']"><i class="fa fa-user"></i> &nbsp;
            {{ "add account" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/accountlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "account list" | translate }}
          </a>
        </div>
        </li>   
 -->




       
            <!-- ===================================  Gender ===========================================  -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Gender" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/gender']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Gender" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/genderlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Gender list" | translate }}
          </a>
        </div>
      </li>  -->









       <!-- 
            ===================================  Activity =========================================== -->
      <!-- <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Activity" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/activity']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Activity" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/activitylist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Activity list" | translate }}
          </a>
        </div>
      </li> -->








        <!-- 
            ===================================  smartparking =========================================== -->
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Smartparking" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/smartparking']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Smartparking" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/smartparkinglist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Smartparking list" | translate }}
          </a>
        </div>
      </li>




           <!-- 
            ===================================  smartparking =========================================== -->
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"chatroom" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/chatroom']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Chatroom" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/chatroomlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Chatroom list" | translate }}
          </a>
        </div>
      </li>




           <!-- 
            ===================================  cybersecurity =========================================== -->
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"CyberSecurity" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/cybersecurity']"><i class="fa fa-user"></i> &nbsp;
            {{ "add CyberSecurity" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/cybersecuritylist']"><i class="fa fa-list"></i> &nbsp;
            {{ "CyberSecurity list" | translate }}
          </a>
        </div>
      </li>



          <!-- 
            ===================================  movie =========================================== -->
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Movie" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/movie']"><i class="fa fa-user"></i> &nbsp;
            {{ "add Movie" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/movielist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Movie list" | translate }}
          </a>
        </div>
      </li>




     
    <!-- 
            ===================================  CAR =========================================== -->
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Car" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/car']"><i class="fa fa-user"></i> &nbsp;
            {{ "Add Car" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/carlist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Car list" | translate }}
          </a>
        </div>
      </li>





        <!-- 
            ===================================  Mobile =========================================== -->
      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{"Moblie" | translate }}</font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/mobile']"><i class="fa fa-user"></i> &nbsp;
            {{ "Add Mobile" | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/mobilelist']"><i class="fa fa-list"></i> &nbsp;
            {{ "Mobile list" | translate }}
          </a>
        </div>
      </li>


     





      <li class="nav-item dropdown" style="padding-left: 5px">
        <a class="nav-link dropdown-toggle" [routerLink]="['/#']" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <font style="color: white">{{ form.data.fname }} ({{ form.data.role }})
          </font>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="forward()"><i class="fa fa-user-md"></i> &nbsp;{{
            " My Profile" | translate
            }}</a>
          <a class="dropdown-item" [routerLink]="['/changepassword']"><i class="fa fa-key"></i> &nbsp;{{
            "Change Password" | translate
            }}</a>
          <a class="dropdown-item" [routerLink]="" (click)="goToLink()"><i class="fa fa-file"></i> &nbsp;{{ " Java Doc"
            | translate }}</a>

          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> &nbsp;{{ " Log Out" | translate }}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>